@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --page-bg: #0b0c10;
}


html,
body {
    height: 100%;
}


body {
    background: white;
}


.table-sticky th {
position: sticky;
top: 0;
background: white;
z-index: 1;
}
